<div class="row">
    <div class="col-3 d-flex flex-column">
        {{ form_label(form.key_respon) }}
        {{ form_widget(form.key_respon, {"attr": {"class": "flex-grow-1"}}) }}
    </div>
    <div class="col-3 d-flex flex-column">
        {{ form_label(form.goal_name) }}
        {{ form_widget(form.goal_name, {"attr": {"class": "flex-grow-1"}}) }}
    </div>
    <div class="col-4 d-flex flex-column">
        {{ form_label(form.measurement_name) }}
        {{ form_widget(form.measurement_name, {"attr": {"class": "flex-grow-1"}}) }}
    </div>
    <div class="col-2">
        {{ form_row(form.goal_weight) }}
        {{ form_row(form.complete_date) }}
    </div>
</div>
