<div class="row mb-5 mt-2">
    <div class="col">
        <p>Teamwork and Support</p>
        <div class="row">
            <div class="col-5 lhs">
                {% for t in lhs_text %}
                    <div class="pb-1 mb-1 border-bottom">
                        <small >{{ t }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class="col-7">
                <div class="row h-100">
                    <div class="ml-3 col lhs h-100 d-flex flex-column">
                        <div class="border-bottom mb-2 pb-2">
                            Self Assessment
                        </div>
                        {{ form_row(form.self_score) }}
                        {{ form_row(form.self_example, {"attr": {"class": "d-flex flex-column"}}) }}
                    </div>
                    <div class="ml-3 col rhs h-100 d-flex flex-column">
                        <div class="border-bottom mb-2 pb-2">
                            Assessment by Appraising Officer
                        </div>
                        {{ form_row(form.appraiser_score) }}
                        {{ form_row(form.appraiser_example, {"attr": {"class": "d-flex flex-column"}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>