<div class="row">
    <div class="col-sm-3 d-flex">
        <div class="form-group d-flex flex-column flex-grow-1">
            {{ form_label(form.respon_name) }}
            {{ form_widget(form.respon_name, {"attr": {"class": "flex-grow-1"}}) }}
        </div>
    </div>
    <div class="col-sm-3 d-flex">
        <div class="form-group d-flex flex-column flex-grow-1">
            {{ form_label(form.respon_result) }}
            {{ form_widget(form.respon_result, {"attr": {"class": "flex-grow-1"}}) }}
        </div>
    </div>
    <div class="col-sm-4 d-flex">
        <div class="form-group d-flex flex-column flex-grow-1">
            {{ form_label(form.respon_comment) }}
            {{ form_widget(form.respon_comment, {"attr": {"class": "flex-grow-1"}}) }}
        </div>
    </div>
    <div class="col-sm-2">
        <div>
            {{ form_row(form.respon_weight) }}
        </div>
        <div>
            {{ form_row(form.respon_score) }}
        </div>
    </div>
</div>