{{ form_start(form) }}
    <div class="row">
        <div class="col">
            <h5 class="title">
                Employee Information
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.staff_name) }}
        </div>
        <div class="col">
            {{ form_row(form.staff_department) }}
        </div>
        <div class="col">
            {{ form_row(form.staff_position) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.staff_office) }}
        </div>
        <div class="col">
            {{ form_row(form.appraiser_name) }}
        </div>
        <div class="col">
            {{ form_row(form.countersigner_name) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.survey_period) }}
        </div>
        <div class="col">
            {{ form_row(form.survey_commencement_date) }}
        </div>
        <div class="col">
            {{ form_row(form.appraisal_type) }}
        </div>
    </div>
    <div class="row">
        <small class="col mb-3">
            Scoring Scheme: Below Deputy General Manager Level - Part A (50%) + Part B (50%); Deputy General Manager Level and above - Part A (50%) + Part B1 (30%) + Part B2 (20%)
        </small>
    </div>
    <div class="row mt-3">
        <h5 class="col title">
            Part A: Accomplishments of Key Responsibilities or Objectives
        </h5>
    </div>
    <div class="row">
        <small class="col mb-2">
            For Employee: please state at least 3 key responsibilities or objectives under the direction of your supervisor, and conduct a self-evaluation on your achievements/results achieved.
        </small>
    </div>
    <div class="row">
        <small class="col mb-2">
            For Appraising Officer: please evaluate the employee's key responsibilities and results achieved, then assign a reasonable score.
        </small>
    </div>
    <div class="row">
        <small class="col mb-2">
            * Weight: Appraising Officer has to judge and give weight of each key responsibility that their subordinates are responsible for in terms of importance. Total weight must be equal to 100%.
        </small>
    </div>

    <div class="row mt-3 pr-5">
        <div class="col-6">
            <h6 class="border-bottom pb-2 mb-3">
                For Employee
            </h6>
        </div>
        <div class="col-6">
            <h6 class="border-bottom pb-2 mb-3">
                For Appraising Office
            </h6>
        </div>

    </div>
    <div id="part-a-wrapper">
        <div class="row">
            <div class="col">
                {{ form_row(form.part_a) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-3 offset-9 form-group">
                {{ form_row(form.part_a_overall_score) }}
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-8 offset-2">
                <div class="border-bottom pb-2 mb-2">
                    Scoring from Countersigning Officer
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.countersigner_1_name, {"attr": {"readonly": true}}) }}
                        {{ form_row(form.countersigner_1_part_a_score) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.countersigner_2_name, {"attr": {"readonly": true}}) }}
                        {{ form_row(form.countersigner_2_part_a_score) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 offset-9 form-group">
                <div class="col">
                    {{ form_row(form.part_a_total, {"attr": {"readonly": true}}) }}
                </div>
            </div>
        </div>
    </div>
    <div id="part-b-wrapper">
        <div class="row mt-3">
            <div class="col title">
                Part B: Competencies Assessment
            </div>
        </div>
        <div class="row">
            <p class="col">
                This part should be completed by both the Appraising Officer and the Employee.
            </p>
        </div>

        <div class="row mt-3">
            <div class="col title">
                Part B1: This section is applicable to all employees
            </div>
        </div>

        <div id="part-b1-wrapper" class="row">
            <div class="col">
                {{ form_row(form.part_b1) }}
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-7 form-group">
                {{ form_row(form.part_b1_overall_comment) }}
            </div>
            <div class="col-3 offset-2 form-group">
                {{ form_row(form.part_b1_overall_score) }}
            </div>
        </div>
        {% if form.part_b2 is defined %}
            <div class="row">
                <div class="col title">
                    Part B2: This section is applicable to Senior Executive employee (Deputy General Manager level and above)
                </div>
            </div>
            <div id="part-b2-wrapper" class="row">
                <div class="col">
                    {{ form_row(form.part_b2) }}
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-7 form-group">
                    {{ form_row(form.part_b2_overall_comment) }}
                </div>
                <div class="col-3 offset-2 form-group">
                    {{ form_row(form.part_b2_overall_score) }}
                </div>
            </div>
        {% endif %}

        <div class="row mb-5">
            <div class="col-8 offset-2">
                <div class="border-bottom pb-2 mb-2">
                    Scoring from Countersigning Officer
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>
                                <small>Name</small>
                            </label>
                            <input readonly type="text" class="form-control-plaintext form-control-sm" value="{{ countersigner_1_name }}">
                        </div>
                        {{ form_row(form.countersigner_1_part_b_score) }}
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>
                                <small>Name</small>
                            </label>
                            <input readonly type="text" class="form-control-plaintext form-control-sm" value="{{ countersigner_2_name }}">
                        </div>
                        {{ form_row(form.countersigner_2_part_b_score) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3 offset-9 form-group">
                {{ form_row(form.part_b_total) }}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5 class="title">
                Overall Performance Rating
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-9 form-group">
            {{ form_row(form.part_a_b_total) }}
        </div>
    </div>
    <div id="part-c-wrapper">
        <div class="row mt-3">
            <div class="col">
                <h5 class="title">
                    Part C: Learning and Development Plan (To be completed by Appraising Officer and Employee collaboratively)
                </h5>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <p>
                    <small>
                        For Appraising Officer: please evaluate the strengths and weaknesses of the employee and develop an action plan to improve the employee's work performance in collaboration with him/her.
                    </small>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <div class="pb-2 mb-3 border-bottom">Competency Gap Identification</div>
                <div class="row">
                    <div class="col-3">
                        Professional Competency
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.prof_competency_1) }}</span>
                            {{ form_widget(form.prof_competency_1) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.prof_competency_2) }}</span>
                            {{ form_widget(form.prof_competency_2) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.prof_competency_3) }}</span>
                            {{ form_widget(form.prof_competency_3) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                <div class="pb-2 mb-3 border-bottom">Competency Gap Identification</div>
                <div class="row">
                    <div class="col-3">
                        Core Competency
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.core_competency_1) }}</span>
                            {{ form_widget(form.core_competency_1) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.core_competency_2) }}</span>
                            {{ form_widget(form.core_competency_2) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.core_competency_3) }}</span>
                            {{ form_widget(form.core_competency_3) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col form-group">
                <div class="pb-2 mb-3 border-bottom">Competency Gap Identification</div>
                <div class="row">
                    <div class="col-3">
                        On the Job Training (Coaching / Mentoring)
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.on_job_0_to_1_year) }}</span>
                            {{ form_widget(form.on_job_0_to_1_year) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.on_job_1_to_2_year) }}</span>
                            {{ form_widget(form.on_job_1_to_2_year) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.on_job_2_to_3_year) }}</span>
                            {{ form_widget(form.on_job_2_to_3_year) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        Functional Training Needs (Job Related)
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.function_training_0_to_1_year) }}</span>
                            {{ form_widget(form.function_training_0_to_1_year) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.function_training_1_to_2_year) }}</span>
                            {{ form_widget(form.function_training_1_to_2_year) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.function_training_2_to_3_year) }}</span>
                            {{ form_widget(form.function_training_2_to_3_year) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        Generic Training Needs (Competency Related)
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.generic_training_0_to_1_year) }}</span>
                            {{ form_widget(form.generic_training_0_to_1_year) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.generic_training_1_to_2_year) }}</span>
                            {{ form_widget(form.generic_training_1_to_2_year) }}
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="mr-3">{{ form_label(form.generic_training_2_to_3_year) }}</span>
                            {{ form_widget(form.generic_training_2_to_3_year) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="part-d-wrapper">
        <div class="row mt-3">
            <div class="col">
                <h5 class="title">
                    Part D: Goals Setting For The Coming Year (Not applicable for Mid-Yearly Appraisal)
                </h5>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <p>
                    <small>
                        This part shall be completed by the Appraising Officer and the Employee collaboratively.
                    </small>
                </p>
            </div>
        </div>
        <div id="part-d-container" class="row">
            <div class="col">
                {{ form_row(form.part_d) }}
            </div>
        </div>
    </div>

    <div class="part-e-wrapper">
        <div class="row mt-3">
            <div class="col">
                <h5 class="title">
                    Part E: Overall comments from Employee / Appraising Officer
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.survey_overall_comment) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(form.submit) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}