<div class="row my-2">
    <div class="col">
        <h5 class="pb-2 mb-2">{{ title }}</h5>
        <div class="row">
            <div class="col-5 lhs">
                {% for t in lhs_text %}
                    <div class="pb-1 mb-1 border-bottom">
                        <small >{{ t }}</small>
                    </div>
                {% endfor %}
            </div>
            <div class="col-7 d-flex">
                <div class="row flex-grow-1">
                    <div class="ml-3 col lhs d-flex flex-column">
                        <div class="border-bottom mb-2 pb-2">
                            Self Assessment
                        </div>
                        <div class="form-group">
                            {{ form_label(form.self_score) }}
                            {{ form_widget(form.self_score) }}
                        </div>
                        <div class="form-group flex-grow-1 d-flex flex-column">
                            {{ form_label(form.self_example) }}
                            {{ form_widget(form.self_example, {"attr": {"class": "flex-grow-1"}}) }}
                        </div>
                    </div>
                    <div class="ml-3 col rhs d-flex flex-column flex-grow-1">
                        <div class="border-bottom mb-2 pb-2">
                            Assessment by Appraising Officer
                        </div>
                        <div class="form-group">
                            {{ form_label(form.appraiser_score) }}
                            {{ form_widget(form.appraiser_score) }}
                        </div>
                        <div class="form-group flex-grow-1 d-flex flex-column">
                            {{ form_label(form.appraiser_example) }}
                            {{ form_widget(form.appraiser_example, {"attr": {"class": "flex-grow-1"}}) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>